[Unit]
Description=Red Pitaya PRPD Data Acquisition Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/wnz

ExecStart=/usr/bin/python3 /root/wnz/rp_prpd_agent.py --bind-address 0.0.0.0 --listen-port 9999

Restart=on-failure
RestartSec=5s

StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1
Environment="PYTHONPATH=/opt/redpitaya/lib/python/:$PYTHONPATH"
Environment="LD_LIBRARY_PATH=/opt/redpitaya/lib:$LD_LIBRARY_PATH"

[Install]
WantedBy=multi-user.target